#contact {
  background-image: url("./image/escr.jpg");
  background-position: center;
  height: 100vh;
}
.contact {
  font-family: "Biryani", sans-serif;
  font-weight: 900;
}

.divider {
  color: white;
}

.contact-btn:hover {
  transition: all 0.2s ease-in-out;
  color: white;
  cursor: pointer;
  transform: scale(1.5);
}
