.card {
  width: 32rem;
  opacity: 0.9;
}

#certificat {
  background-image: url("./images/machine.jpg");
  height: 90vh;
  min-height: 40rem;
  padding-top: 4.5rem;
  padding-bottom: 0;
}

.certificates {
  font-family: "Biryani", sans-serif;
  font-weight: 900;
}
